<!-- Page Header-->
<header class="masthead" style="background-image: url(<%= asset_path 'home-bg.jpg' %>)">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Sign Up</h1>
                    <span class="subheading">Before to continous</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">              
              <%= form_with(model: @user, local: true) do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name %>
              
                <%= f.label :email %>
                <%= f.email_field :email %>
              
                <%= f.label :password %>
                <%= f.password_field :password %>
              
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation %>

                <div class="field">
                    <%= f.label :image %>
                    <%= image_tag(@user.image.url) if @user.image && @user.image.url %>
                    <%= f.file_field :image %>
                    <%= f.hidden_field :image_cache %>
                </div>
              
                <%= f.submit "Create my account" %>
              <% end %>
            </div>
        </div>
    </div>
</main>