<!DOCTYPE html>
<html>
  <head>
    <title>TweettApplication</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
      <div class="container px-4 px-lg-5">
          <a class="navbar-brand" href="index.html">Application tweet</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              Menu
              <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <% if logged_in? %>
                <li class="nav-item"><%= link_to "liste des postes", posts_path, class: "nav-link px-lg-3 py-3 py-lg-4" %></li>
                <li class="nav-item"><%= link_to "nouveau poste", new_post_path, class: "nav-link px-lg-3 py-3 py-lg-4" %></li>
                <li class="nav-item"><%= link_to "Contacts", contacts_path, class: "nav-link px-lg-3 py-3 py-lg-4" %></li>
                <li class="nav-item"><%= link_to "Profile", user_path(current_user.id), class: "nav-link px-lg-3 py-3 py-lg-4" %></li>
                <li class="nav-item"><%= link_to "Logout", session_path(current_user.id), method: :delete, class: "nav-link px-lg-3 py-3 py-lg-4" %></li>
                

                <% else %>
                <%= link_to "Sign up", new_user_path %>
                <%= link_to "Login", new_session_path %>
                <% end %>

                
              </ul>
          </div>
      </div>
    </nav>
    
    <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    
    <%= yield %>
    <footer class="border-top">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div class="small text-center text-muted fst-italic">Copyright &copy; application tweet 2021</div>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>
